@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.container__countryCard {
    padding: 0 35px 0 35px;
}
.card__img {
    width: 240px;
    height: 130px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.card__img__name {
    font-weight: 700;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.card__img__p {
    font-size: 0.9rem;
}
.container__infoCard {
    padding-top: 5px;
    margin-top: -10px;
    background: #fff;
    width: 240px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding-bottom: 10px;
}
.card__button {
    width: 70px;
    height: 30px;
    background-color: #fff;
    color: #5482d0;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 5px 5px;
    border: 2px solid #5482d0;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}
.card__button:hover {
    background-color: #5482d0;
    color: #fff;
}
@media only screen and (max-width: 1018px) {
    .container__countryCard {
        padding: 0 50px 0 50px;
    }
}
@media only screen and (max-width: 900px) {
    .card__img {
        width: 210px;
        height: 100px;
        border-radius: 10px;
    }
    .container__infoCard {
        width: 210px;
        margin-top: -15px;
    }
}
@media only screen and (max-width: 714px) {
    .container__countryCard {
       margin-right: 40%;
        
    }
    .container__countryCard {
        padding: 0 50px 0 70px;
    }
    .card__img__name {
        font-size: 1.05rem;
    }
    .card__img__p {
        font-size: 0.75rem;
    }
}
@media only screen and (max-width: 540px) {
    .card__img {
        width: 170px;
        height: 80px;
    }
    .container__infoCard {
        width: 170px;
    }
    .container__countryCard {
        padding: 0 50px 0 10px;
    }
}