.formbg-outer__h1 {
    color: #5482d0;
}
.formbg-outer {
    margin-top: 50px;
}
.formbg {
    margin: 0px auto;
    width: 100%;
    max-width: 420px;
    background: white;
    border-radius: 15px;
    box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
.label {
    margin-bottom: 10px;
}
.field input,.field select {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    margin-top: 10px;
    border: unset;
    border-radius: 15px;
    outline-color: rgb(84 105 212 / 0.5);
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.field-checkbox label {
    display: flex;
    align-items: center;
    margin: 0;
}
.field-checkbox {
    padding: 10px 20px 10px 20px;
}
.padding-bottom--24 {
    padding-bottom: 24px;
}
.my-button{
    margin-top: 15px;
    margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
    .formbg {
        max-width: 350px;
    }
}
@media only screen and (max-width: 400px) {
    .formbg {
        max-width: 300px;
    }
}