.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.countries__containerApp{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 200px;
  grid-auto-flow: row;
  position: absolute;
}
.navbar__App {
  grid-column: 1;
  grid-row: 1 / 3;
}
.countries__App {
  grid-column: 2 / 5;
  grid-row: 1 / 3;
}
.footer__App {
  grid-column: 1 / 5;
  grid-row: 3 / 4;
  position: relative;
  z-index: 20;
  padding: 0 20px;
  margin-left: 21vw;
}
@media only screen and (max-width: 1080px) {
  .footer__App {
    margin-left: 26vw;
  }
}
@media only screen and (max-width: 900px) {
  .countries__App {
    margin-left: 35px;
  }
  .footer__App {
    margin-left: 28vw;
  }
}
@media only screen and (max-width: 712px) {
  .footer__App {
    margin-left: 33vw;
  }
}
@media only screen and (max-width: 540px) {
  .countries__App {
    margin-left: 65px;
  }
  .footer__App {
    margin-left: 36vw;
  }
}
@media only screen and (max-width: 410px) {
  .countries__App {
    margin-left: 65px;
  }
  .footer__App {
    margin-left: 40vw;
  }
}
